.spacer {
  margin-bottom: 7px;
}

.devider {
  margin-top: 25px;
}

.buttonADJ {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: right;
  margin-right: 30px;
}

.react-modal-content {
  background-color: red; /* replace with your desired background color */
}
